<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      Data Share
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="col-md-1">
          <button (click)="run1()">run1</button>
        </div>
        <div class="col-md-4">
          Child 1: {{text}}
        </div>
        <div class="col-md-4">
          Child 2: {{text}}
        </div>
      </div>
    </div>
  </div>