  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filterExample" aria-expanded="false" aria-controls="collapseExample">
      Filters Calls
    </button>
  </p>
  <div class="collapse" id="filterExample">
    <div class="card card-body">
      <div>
          <div class="form-check">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Filter 1
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"s>
                Filter 2
              </label>
            </div>
      </div>
    </div>
  </div>