<div class="container mt-3" *ngFor="let detail of data">

  <button type="button" class="btn btn-primary" (click)="detail.collaps=!detail.collaps">
    Class {{detail.class}}</button>
  <div *ngIf="detail.collaps">
    <div class="" *ngFor="let section of detail.section">
      <button type="button" class=" section btn btn-primary" (click)="section.collaps=!section.collaps">Section {{section.sectionName}}</button>
      <div *ngIf="section.collaps">
        <span class="detail" *ngFor="let detail of section.detail">
          <span  (click)="(myClick(detail))" >{{detail.name}}</span>
        </span>
      </div>
    </div>
  </div>

</div>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of studentInfoUi" (mouseenter)="mouseEnter(item) " (click)="(myClick(item))">{{item.name}}</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>



<!-- move to core ui componet  -->

<div class="side" *ngIf="show">
  <span (click)="show=!show" class="cross">close</span>
  <div>
    <span>Name</span> :
    <input type="text" [(ngModel)]="detail.name">
  </div>
  <div>
    <span>Age</span> : {{detail.age}}</div>
  <div>
    <span>Gender</span> : {{detail.gender}}</div>
  <div>
    <span>Sports</span> :
    <input type="text" [(ngModel)]="sports">

  </div>