.side{
    position: fixed;
    background: #635656;
    width: 20%;
    height: 100%;
    top: 0px;
    right: 0px;
    color:white;
    padding: 4% 1%;
}

.cross{
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    background: blue;
    cursor: pointer;
}
.hide{
    visibility: hidden;
}

.section{
    width: 115px;
    margin: 15px;
}
.detail{
    cursor: pointer;
    margin-top: 1px;
    margin-left: 56px;
}